* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  padding:10px;
  text-align: center;
}   

body {
  margin: 0;
}

.logo {
  width: 200px;
}

.membership-info{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.membership-container, .error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20% 0 20%;
}

#membership-name {
  text-align: center;
}

h1, .err-page, .membership-name {
  text-align: center;
}

.membership-details, .membership-brush, .error-details {
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding: 35px;
  margin: 10px;
  box-shadow: 5px 5px 5px grey;
  border: 1px #666666 solid;
  white-space: normal;
}

.membership-details {
  border-right: 1px solid #666666;
}

.color-box {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.offset {
  margin-bottom: 0px;
  display: inline-block;
}

#shipping-form {
  width: 70%;
  height: auto;
  vertical-align: top;
  border-radius: 10px;
  padding: 35px;
  margin: 10px;
  box-shadow: 5px 5px 5px grey;
  border: 1px #666666 solid;
}

#shipping-form button, .membership-details button {
  border: 1px #666666 solid;
  cursor: pointer;
}

#shipping-form label {
  margin: 5px 0 5px 0;
  display: inline-block;
}

#shipping-form input {
  display: inline-block;
  width: 250px;
  border: 1px #666666 solid;
  height: 30px;
  border-radius: 3px;
  padding: 5px;
}

#shipping-form label[for="address"]{
  margin-right: 6px;
}

#shipping-form label[for="city"]{
  margin-right: 47px;
}

#shipping-form label[for="state"]{
  margin-right: 37px;
}

#shipping-form label[for="zip"]{
  margin-right: 37px;
}

.input-container {
  margin: 5px 0 5px 0;
}

.btn {
  width: 50px;
}

.beam-brush-blue {
  background-color: #00c9f0;
}

.beam-brush-pink {
  background-color: #f31884;
}

.beam-brush-chartreuse {
  background-color: #daff00;
}

.beam-brush-blue-box {
  background-color: #00c9f0;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
}


.beam-brush-pink-box {
  background-color: #f31884;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
}

.beam-brush-chartreuse-box {
  background-color: #daff00;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
}

.beam-font-family {
  font-family: 'Roboto', sans-serif;
}

.beam-font-color {
  color: #666666;
}

.beam-title {
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 100;
  margin-bottom: 16px;
}

.beam-label {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 16px;
  line-height: 1.2em;
}

.beam-text {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.2em;
}

footer {
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 800px) {
  .membership-details, .membership-brush, #shipping-form {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .membership-info{
    flex-direction: column;
  }

  #shipping-form input {
    width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .beam-title {
    font-size: 30px;
  }

  .membership-details, .membership-brush {
      padding: 20px;
  }
}